.App {
  text-align: center;
  width: auto;
  border: solid blue 1px;
  height: 99.7vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  margin: auto;
}

